@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer utilities {
  .triangle {
    clip-path: polygon(40% 0, 100% 100%, 100% 0);
  }
}

.pageLayoutGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.imageFlashElement {
  float: right;
  margin: 0 0 0 15px;
}
